@page "/regPeriod"

@using OnlineRegistration.Client.Models;
@using System.Text.Json;
<h3>RegistrationPeriod</h3>


@if (regPeriod == null)
{
    <p><em>loading...</em></p>              
}
else
{
    <p>The latest Registration period starts from @regPeriod.StartDate and ends in @regPeriod.EndDate</p>


}



<div class="my-3">
    <label>Start date</label> <br />
    <input type="datetime-local" @bind-value="regPeriodModel1.StartDate" />
</div>
<div class="my-3">
    <label>End date</label> <br />
    <input type="datetime-local" @bind-value="regPeriodModel1.EndDate" />
</div>
<div class="my-3">
    <button @onclick="UpdateRegPeriod">ADD</button>
</div>




<p>aaaa= @regPeriodModel1.StartDate and @regPeriodModel1.EndDate</p>







@code {
    [Inject]
    public HttpClient httpClient { get; set; }

    public RegPeriodModel? regPeriod;
    public RegPeriodModel? regPeriodModel1 = new RegPeriodModel();

    protected override async Task OnInitializedAsync()
    {
        regPeriod = await JsonSerializer.DeserializeAsync<RegPeriodModel>
        (await httpClient.GetStreamAsync("RegPeriod/LastRegPeriod"), new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });


    }

    public async Task UpdateRegPeriod()
    {
        regPeriodModel1.TheAdminId = 1;
        var result = await httpClient.PostAsJsonAsync($"RegPeriod/UpdateRegPeriod", regPeriodModel1);
        Console.WriteLine(result);
    }


}
